.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1240px;
  margin: auto;
  text-align: center;
  background-color: #FFFAEC;
  display: flex;
  flex-direction: column;
  align-items: center;
}